// constant values ​​from template

$blue: #5A61ED;
$darkGrey: #7C7C7C;
$liteGrey: #F2F2F2;
$liteBlue:#F9FAFF;

@mixin labelTitla {
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	line-height: 14px;

}

@mixin inputContent {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

*:focus {
	outline: none;
}




//screen width is larger 780px 
@media screen and (min-width: 768px) {
	body {
		background-color: $liteGrey;
	}

	.popup {

		width: 665px;
		height: 481px;
		margin: 5% auto;
		display: grid;
		grid-template-columns: 138px 1fr;
	}

	.bitmap {
		background-color: $blue;
		position: relative;

		.rotate {
			font-family: 'PT Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 49px;
			line-height: 63px;
			letter-spacing: 0.5px;
			color: white;

			position: absolute;
			width: 162px;

			right: -46px;
			bottom: 72px;

			-webkit-transform: rotate(-90deg); //Chrome, Safari
			-moz-transform: rotate(-90deg); //Firefox
			-o-transform: rotate(-90deg); //Opera
			-ms-transform: rotate(-90deg); //IE
			transform: rotate(-90deg); //браузеры без префексов
		}
	}


}

.popup_content {
	padding: 38px 21px 0;

	.title {
		font-family: 'Work Sans', sans-serif;
		font-size: 22px;
		line-height: 26px;

		/* identical to box height */

		letter-spacing: -0.46px;
	}

	.title_small {
		font-family: 'Work Sans', sans-serif;
		font-size: 14px;
		line-height: 16px;
	}
}


.inputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 20px;
	grid-column-gap: 13px;
}

.labelInput {
	display: grid;
	grid-template-columns: 1fr;

	.inputContent,
	select {
		border: 0;
		border-bottom: 1px solid $liteGrey;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px white inset !important;
	}
}

.labelInput,
.dateOfBirth,
.gender {
	margin-right: 13px;
	margin-bottom: 16px;
	height: 42px;

}

.dateOfBirth label,
.labelTitla {
	@include labelTitla();
	color: #7C7C7C;
}

.inputContent {
	@include inputContent();


}

.sectionLine {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.gender {

	div {
		text-align: left;
		margin-bottom: 5px;
	}

	.genderLine {
		display: flex;

		label {
			margin-left: 5px;
			margin-right: 19px;
		}
	}
}

.popup {
	background-color: white;
}

#log,
#signup {

	font-family: 'Work Sans', sans-serif;
	font-size: 13px;
	line-height: 15px;
	font-weight: 300;
}

.lastLine {
	margin-top: 85px;
	display: flex;
	justify-content: space-between;

	#log {
		margin-top: 5px;

		span {
			color: #5A61ED;
			text-decoration: underline;
			font-weight: 500;
		}
	}
}

#signup {
	width: 154px;
	height: 32px;
	background-color: #5A61ED;
	border: #5A61ED 1px solid;
	color: white;
}
.wrongInf{
  color: red;
  border: 0;
  border-bottom: 1px solid red;
}