// constant values ​​from template

$blue: #5A61ED;
$darkGrey: #7C7C7C;
$liteGrey: #F2F2F2;
$liteBlue:#F9FAFF;

@mixin labelTitla {
  font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	line-height: 14px;

}

@mixin inputContent {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
  font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




//screen width is larger 780px 
@media screen and (min-width: 768px) {
	body {
		background-color: $liteGrey;
	}

	.popup {

		width: 665px;
		height: 481px;
		margin: 5% auto;
		display: grid;
		grid-template-columns: 138px 1fr;
	}

	.bitmap {
		background-color: $blue;
		position: relative;

		.rotate {
			font-family: 'PT Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 49px;
			line-height: 63px;
			letter-spacing: 0.5px;
			color: white;

			position: absolute;
			width: 162px;

			right: -46px;
			bottom: 72px;

			-webkit-transform: rotate(-90deg); //Chrome, Safari
			-moz-transform: rotate(-90deg); //Firefox
			-o-transform: rotate(-90deg); //Opera
			-ms-transform: rotate(-90deg); //IE
			transform: rotate(-90deg); //браузеры без префексов
		}
	}

	.popup_content {
		padding: 38px 21px;

		.title {
			font-family: 'Work Sans', sans-serif;
			font-size: 22px;
			line-height: 26px;

			/* identical to box height */

			letter-spacing: -0.46px;
		}

    .title_small {
      font-family: 'Work Sans', sans-serif;
      font-size: 14px;
      line-height: 16px;
    }
	}


	.inputs {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 20px;
	}

	.labelInput {
		display: grid;
		grid-template-columns: 1fr;

	}

	.labelInput,
	.dateOfBirth,
	.gender {
		margin-right: 13px;
		margin-bottom: 16px;
    height: 42px;
	}

	.labelTitla {
		@include labelTitla();
		color: #7C7C7C;
	}
  .inputContent{
    @include inputContent();
    color: transparent;
    
  }

}

// screen width is larger 320px and less 780px


//fixed styles
.popup {
	background-color: white;
}
